[run]
source = app
omit =
    app/main.py
    app/config.py
    app/api/schemas.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
